h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 70px;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  background-color: lightblue;
}

.container {
  text-align: center;
  font-size: 45px;
}

