h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 100px;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: lightgreen;
  text-align: center;
  font-size: 35px;
}

.btn {
  font-size: 28px;
  font-weight: bold;
}