h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 80px;
  text-align: center;
  color: aliceblue;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: lightblue;
}

.container {
  text-align: center;
  font-size: 45px;
}

.btn {
  font-size: 25px;
}
