@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;

<h1>Machines</h1>

@if (@Model.Count == 0)
{
  <h3>No machines available</h3>
}

@foreach (Machine machine in Model)
{
  @Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId})
}

@Html.ActionLink("Add new Machine", "Create")
@Html.ActionLink("Home", "Index", "Home")