@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>@Html.DisplayFor(model => model.EngineerName)</h1>

<h2>Are you sure you want to delete this Engineer?</h2>

@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-danger" value="Delete" />
}
