@{
  Layout = "_Layout";
}

<h1>Star-On | Star-Off</h1>
<button>@Html.ActionLink("See all Engineers", "Index", "Engineers")</button>
<button>@Html.ActionLink("See all Machines", "Index", "Courses")</button>