@{
  Layout = "_Layout";
}

<h1>Star-On/Star-Off/h1>
<button>@Html.ActionLink("See all Engineers", "Index", "Students")</button>
<button>@Html.ActionLink("See all Machines", "Index", "Courses")</button>